* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html{
  scroll-behavior: smooth;
} 
/* 给按钮添加上小手属性 */
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #e33333;
}
li {
    list-style: none;
}
body {
   background: url(../images/bg.png) no-repeat fixed center 0px;
   font-size: 12px;
    color: #666
}
.w {
  width: 1200px;
  margin: auto;
}

.header {
  background: url(../images/banner.png) no-repeat fixed center -496px;
  height: 42px;
  margin: 30px auto;
  border-radius: 10px 0 0 10px;
}

.logo {
  position: relative;
  margin-top: -9px;
  float: left;
  height: 71px;
  width: 198px;
}

.logo img {
  position: absolute;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
.nav {
  float: left;
  margin-left: 60px;
}

.nav li {
  float: left;
  margin-left: 20px;
}

.nav ul li {
  /*由于宽度不确定 要用padding来自己撑开*/
  float: left;
  margin: 0 15px;
}
a {
  text-decoration: none;
}

.nav ul li a {
  display: block;
  height: 42px;
  /*由于宽度不确定 要用padding来自己撑开*/
  padding: 0 10px;
  line-height: 42px;
  font-size: 18px;
  color: #8509b6;
}

.nav ul li a:hover {
  border-bottom: 2px solid rgb(100, 148, 237);
  color: cornflowerblue;
}

.search {
  width: 412px;
  height: 42px;
  float: left;
  margin-left: 78px;
}

.search input {
  height: 42px;
  width: 372px;
  font-size: 14px;
  color: gray;
  padding-left: 15px;
  float: left;
}
.search input:focus {
  outline: none;
}
.search button {
  width: 40px;
  height: 42px;
  background-color: white;
  border: 1px solid cornflowerblue;
  float: left;
}
.banner {
  position: relative;
  height: 580px;
}
.banner .myself {
  margin-left: 20px;
  position: fixed; /* 绝对定位，相对于banner容器 */
  left: 0; /* 定位到左侧 */
  top: 40%; /* 垂直居中 */
  transform: translateY(-50%); /* 修正垂直居中 */
  background-color: rgba(255, 255, 255, 0.9); /* 半透明白色背景 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  z-index: 10; /* 确保在轮播图上方 */
}
.myself h3 {
  color: #ffd000; 
  margin-bottom: 15px;
  border-bottom: 2px solid #13a4f1; /* 底部线条 */
  padding-bottom: 8px;
  font-size: 23px;
}
.myself p {
  padding-top:16px ;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
  margin: 8px 0;
}
.banner .w {
  height: 580px;
}
.product {
  border-radius: 12px;
  position: relative;
  height: 383px;
  width: 900px;
  margin: 0px auto;
}
.product p {
  opacity: 0.6;
  z-index: 1;
  top: 10px;
  position: absolute;
  line-height: 38px;
  text-align: center;
  color: #00a4ff;
  font-size: xx-large;
  height: 38px;
  width: 100%;
}
.banner .w .product {
  margin-left: 200px;
  position: relative;
  overflow: hidden;
}

.banner .w .product p {
  white-space: nowrap; /* 防止文字换行 */
  position: absolute;
  width: 200%; /* 宽度设为200%，用于放置两份文字 */
  animation: scrollText 15s linear infinite; /* 应用滚动动画 */
}

.banner .w .product p:hover {
  animation-play-state: paused;/*鼠标触碰的时候停止*/
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.banner .myself{
  box-shadow:  10px  10px 20px skyblue ;
  width: 220px;
  height: 300px;
  background-color: #00a6ff8f;
  opacity: 0.8;
  transition: all 0.3s;
}

.banner .w .product {
  position: relative;
  overflow: hidden; /* 隐藏超出容器的内容 */
}

/* 复制一份文字内容 */
.banner .w .product p::after {
  content: attr(data-text); /* 使用data-text属性的值作为复制内容 */
  position: absolute;
  left: 100%;  /*放在原文字的右侧 */
}

.product img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.product .prve {
  border-radius: 0 50% 50% 0;
  left: 0px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-color: rgba(158, 155, 160, 0.3);
  position: absolute;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  color: #dce2d8;
}
.product .prve:hover,.product .next:hover{
  background-color: rgba(255, 255, 255, 0.642);
}
.product .next {
  border-radius: 50% 0 0 50%;
  right: 0px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-color: rgba(158, 155, 160, 0.3);
  position: absolute;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  color: #dce2d8;
}
.zhekou {
  margin-top: 15px;
  height: 300px;
}
.zhekou .cost{
  float: left;
  width: 400px;
  height: 275px;
}
.zhekou h3{
  color: aqua;
}
.zhekou .cost h4{
  margin-top: 28px;
  font-size: 20px;
  color: #00a4ff;
}
.zhekou .cost .info{
  margin-top: 20px;
  font-size: 15px;
  color: #00a4ff;
}
.zhekou .cost .money{
  font-size: 18px;
  line-height: 100px;
  height: 100px;
  width: 230px;
  margin-top: 10px;
  margin-left: 50px;
}
.zhekou .cost #yuan{
  text-decoration: line-through;
    color: red;
}
.zhekou .cost #now{  
    color: red;
}
.zhekou .dazhe{
  float: left;
  margin: 0 auto;
  height: 271px;
  width: 800px;
  margin-right: 0px;
}
.zhekou img:hover{
  transform: translateY(-8px);
}
.zhekou img{
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.product ul {
  bottom: 0;
  height: 20px;
  width: 110px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  left: 50%;
  margin-left: -55px;
  border-radius: 7px;
}

.product ul li {
  background-color: pink;
  height: 10px;
  width: 10px;
  float: left;
  list-style: none;
  border-radius: 50%;
  margin: 4px 5px;
  opacity: 0.4;
  cursor: pointer;
}
.product ul .active {
  opacity: 1;
  width: 12px;
  height: 12px;
}
.product .selected {
  background-color: white;
}

.evaluate {
  border-radius: 30px;
  background-color: rgba(185, 180, 240, 0.5);
  position: relative;
  margin-top: 20px;
  width: 1200px;
  height: 156px;
}

.evaluate .top {
  height: 30px;
  display: flex;
  align-items: center;
}

.evaluate .top i {
  margin-left: 10px;
  font-size: 17px;
  color: white;
  display: inline-block;
  margin-right: 10px;
}

.evaluate .top .line {
  margin-right: 6px;
  flex-grow: 1;
  border-bottom: 5px solid skyblue;
  border-radius: 4px;
}
.evaluate .bottom {
  margin: 0 auto;
  width: 900px;
  height: 126px;
  
}
.evaluate .bottom .z{
  transition: all 0.3s;
}
.evaluate .bottom .evaluate-one {
  float: left;
  height: 126px;
  width: 200px;
  background-color:#00a6ff59;
  margin-left: 100px;
  border-radius: 20px;
}
.evaluate .bottom .evaluate-two {
  float: left;
  height: 126px;
  width: 200px;
  background-color:#00a6ff59;
  margin-left: 50px;
  border-radius: 20px;
}
.evaluate .bottom .evaluate-three {
  float: left;
  height: 126px;
  width: 200px;
  background-color:#00a6ff59;
  margin-left: 50px;
  border-radius: 20px;
}
.user-name {
  color: black;
  margin-left: 10px;
  font-weight: bold;
  margin-bottom: 16px;
}

.evaluate-content {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}
.evaluate-time {
  margin-left: 116px;
  font-size: 12px;
  color: #888;
}
.subnav {
  float: left;
  width: 190px;
  height: 421px;
  background: rgba(0, 0, 0, 0.3);
}

.subnav ul li a {
  font-size: 14px;
  color: #f3f5f7;
}

.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
}

.subnav ul li a span {
  float: right;
}

.subnav ul li a:hover {
  color: cornflowerblue;
}

.course {
  float: right;
  width: 230px;
  height: 300px;
  background-color: pink;
  margin-top: 40px;
}

.course h2 {
  width: 230px;
  height: 48px;
  background-color: cornflowerblue;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  color: white;
}

.bd {
  padding: 0 20px;
}

.bd ul li h4 {
  font-size: 16px;
  color: #4e4e4e;
}

.bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}

.bd ul li {
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
}

.bd .more {
  height: 38px;
  display: block;
  border: 2px solid #00a4ff;
  color: #00a4ff;
  line-height: 38px;
  text-align: center;
  margin-top: 2px;

}
.goods {
  width: 1200px;
  overflow: hidden; /* 清除浮动 */
  line-height: 60px;
  height: 60px;
  background-color: #7b7beb89;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

.goods ul li {
  float: left;
}

.goods ul {
  float: left;
  margin-left: 30px;
}

.goods ul li a {
  color: pink;
  padding: 0 30px;
  border-left: 1px solid #ccc;
}
.goods ul li a:hover{
  color: blueviolet;
}
/* .goods ul li a:visited{
  color: pink;
} */
.goods h3 {
  color: #00a4ff;
  margin-left: 30px;
  float: left;
}

.mod {
   color: pink;
  float: right;
  margin-right: 30px;
}
.mod:hover{
  color: blueviolet;
}
.mod a:visited{
  color:pink;
}
.box {
  margin-top: 30px;
  overflow: hidden;
}

.box-hd {
  height: 45px;
}

.box-hd h3 {
  color: aqua;
  float: left;
}

.box-hd a {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

.box-bd ul {
  width: 1225px;
}

.box-bd ul li {
  height: 270px;
  width: 228px;
  background-color: #fff;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.box-bd ul li > img {
  width: 100%;
  height: 50%;
}

.box-bd ul li em {
  position: absolute;
  top: 5px;
  right: -5px;
}

.box-bd ul li {
  position: relative;
}

.box-bd ul li h4 {
  margin: 20px 20px 20px 25px;
}

.box-bd ul li .info {
  margin: 0 20px 0 25px;
}
.show li{
  transition: all 0.3s;
}
.show li:hover{
transform: translateY(-5px);
}
#big{
    width: 715px;
    height: 540px;
}
#big img{
  width: 100%;
  height: 69%;
}
#big h4{
  color: #00a4ff;
  font-size: 25px;
}
#big .info{
  font-size: 15px;
}
#big2{
    width: 715px;
    height: 540px;
}
#big2 img{
  width: 100%;
  height: 69%;
}
#big2 h4{
  color: #00a4ff;
  font-size: 25px;
}
#big2 .info{
  font-size: 15px;
}
#middle{
  width: 456px;
  height: 540px;
}
#middle h4{
  color: pink;
  font-size: 25px;
}
#middle .info{
  font-size: 15px;
}
.footer {
  margin-top: 30px;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0 ,0, 0.7);
  height: 415px;
}

.footer .w {
  padding-top: 35px;
}

.footer .w .copyright {
  float: left;
}

.footer .w .copyright {
  transition: all 0.3s;
  font-size: medium;
}
.footer .w .copyright a:hover {
  font-size: 20px;
  color: white;
}
.footer .w .copyright img {
  margin-bottom: 15px;
}

.footer .w .copyleft {
  float: right;
}

h3 {
  color: rgba(255, 255, 255, 0.377);
  font-size: medium;
}
h3 a {
  color: rgba(255, 255, 255, 0.377);
  font-size: medium;
  transition: all 0.3s;
}
h3 a:hover {
  color: white;
  font-size: medium;
}
.footer .w{
  height: 415px;
}
.footer .w .copyleft dl {
  float: left;
  margin-left: 120px;
}
.footer .w .copyleft dl dt {
  color: white;
  height: 40px;
  font-size: 14px;
}
.footer .w .copyleft dl dd {
  height: 40px;
  width: 100px;
  font-size: medium;
  color: rgba(255, 255, 255, 0.377);
}
.footer .w .copyleft dl dd a:hover {
  transition: all 0.3s;
}
.footer .w .copyleft dl dd a:hover {
  font-size: 20px;
  color: white;
}
.footer hr {
  left: 0px;
  size: 5px;
  color: red;
  width: 100%;
  position: absolute;
  bottom: 72px;
}
.my {
  margin: 0 auto;
  width: 1200px;
  position: absolute;
  height: 50px;
  bottom: 10px;
}
.my .left {
  position: absolute;
  color: white;
  font-size: medium;
  margin-left: 20px;
  line-height: 50px;
}

.my .left p a:hover {
  color: pink;
  font-size: 18px;
}
.my .left p a {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.elevator {
  position: fixed;
  left: 50%;
  top: 280px;
  z-index: 999;
  margin-left: 640px;
  opacity: 0;
  transition: all 0.5s;
}
.elevator .elevator-list {
  width: 60px;
  height: 300px;
  background: white;
  float: right;
  border: 1px solid #f5f5f5;
  position: relative;
}
.elevator .elevator-list li {
  height: 60px;
  padding: 15px;
}
.elevator .elevator-list li a {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
}
.elevator .elevator-list li:nth-child(5) a {
  bottom: 30px;
}
.elevator .elevator-list li a:hover,
.elevator .elevator-list li a.active {
  color: #27ba9b;
}
.elevator .elevator-list li a i {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  left: 4px;
  background-position: 8px -106px;
  font-size: 20px;
  transform: rotate(-90deg);
}
.evaluate .bottom {
  margin: 0 auto;
  width: 900px;
  height: 126px;
  overflow: hidden; 
}
.social{
  transition: all 0.3s;
  width: 200px;
  height: 380px;
  position: absolute;
  right: -170px;
}
.btn{
    
  position: absolute;
  width: 30px;
  height: 30px;
}
.btn img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.cot{
position: absolute;
width: 170px;
height: 100%;
background-color: skyblue;
right: 0;
}

.social-list {
 position: relative;
 width: 170px;
 text-align: center;
}
.social-item{
 width: 100%;
 font-size: 16px;
}
.social-item.item-bottom:hover{
 background-color: rgba(31, 248, 237, 0.9);
}
.social-item.item-bottom:hover a{
color:#ba16e7;
}
.item-wx{
 width: 174px;
 height: 266px;
}
.item-wx p:first-child{
  height: 16px;
 font-size: 18px;
 color: #121212;
 margin: 8px auto 18px;
 display: inline-block;
}
.item-wx p:last-child{
 color:rgb(125, 116, 116);
 opacity: .8;
 margin: 8px auto 8px;
}
.social-item a{
 display: flex;
 align-items: center;
 justify-content: space-between;
 min-height: 44px;
 color: #333;
 padding: 0 21px;
}