@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1747055337331') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e61a";
}

.icon-mima:before {
  content: "\e608";
}

.icon-yonghu:before {
  content: "\e60c";
}

.icon-a-rongqi2021x:before {
  content: "\e67a";
}

