@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1748560513754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-youxiang:before {
  content: "\e626";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-jiantou:before {
  content: "\e84f";
}

